body{
    background-color: #f5c7c7;
    
}
h1{
    color: #010a13;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    }
h2{
    color: #010a13;
    text-decoration: underline;
}

